@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    margin: 0;
    padding: 0;
 
    
}
.border{
    border: solid 2px red !important;
}
.ant-menu-horizontal {
    border: none !important;
}
.ant-menu-item::after{
   display: none; 
}
.ant-menu-submenu-horizontal::after{
    border: none !important; 
}
.ant-menu-vertical {
    border: none !important;
}

.textarea {
    resize: none !important;
  }

.border-top{
    border-top: 1px solid gray;
  }
.border-bot{
    border-bottom: 1px solid gray;
  }
.border-image{
    border:1px dashed gray; 
}